@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');


$poppins: 'Poppins', sans-serif;

//colors
$bg: #013243;
$light: #32f5c8;
$icon-color: #00acee;



//breakpoint
@mixin breakpoint ($point){
    @if $point == md {
        @media screen and (max-width: 1224px) {
            @content;
            }
        }
    }


@mixin breakpoint2($point) {
    @if $point == smd {
        @media screen and (max-width: 868px) {
            @content;
        }
    }
}

@mixin breakpoint3($point) {
    @if $point == smd {
        @media screen and (max-width: 568px) {
            @content;
        }
    }
}

@mixin breakpoint4($point) {
    @if $point == smd {
        @media screen and (max-width: 380px) {
            @content;
        }
    }
}